.point {
  width: 63px;
  height: 10px;
  margin: 0 5px;
  border-radius: 2px;
  background-color: grey;
}

.point.red {
  background-color: var(--color-weak);
}

.yellow{
  background-color: var(--color-medium);
}

.green{
  background-color: var(--color-strong);
}

.grey {
  background-color: grey;
}

.yellow:last-child,
.point.red~* {
  background-color: grey;
}

.strengthBar {
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}

.strengthBar.invalid > li {
  background-color: var(--color-weak);
}

.invalid-char {
  color: var(--color-weak);
}

