<form class="form" #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
  <input
    [class.is-invalid-field]="controlPassword.errors?.['minlength'] || controlPassword.errors?.pattern || isEmptyPassword"
    type="password"
    class="input-password"
    name="password"
    #controlPassword="ngModel"
    ngModel
    required
    minlength="8"
    [pattern]="validCharacters"
  >

  <p class="invalid-char" *ngIf="controlPassword.errors?.['minlength'] || isEmptyPassword">The minimum number of characters must be at
    least eight</p>
  <p class="invalid-char" *ngIf="controlPassword.errors?.pattern">
    You entered an invalid character. The password must only contain lowercase letters or numbers or symbols
  </p>


  <app-strength-bar [passwordValue]="controlPassword.value"></app-strength-bar>
  <br>
  <p>Form : {{ passwordForm.value | json}} </p>
  <br>
  <button type="submit" [disabled]="!passwordForm.valid">Submit</button>
</form>
<p>Password strength</p>
<ul class="pass-levels">
  <li class="weak-level">weak - only letters or numbers or symbols</li>
  <li class="medium-level">medium - letters and numbers or numbers and symbols or symbols and numbers</li>
  <li class="strong-level">strong - at least one letter, one number and one character</li>
</ul>
