<form class="form" #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
  <input type="password" class="input-password" ngModel name="password" #controlPassword="ngModel" required>
  <app-strength-bar [passwordValue]="controlPassword.value"></app-strength-bar>
  <br>
  <p>Form  : {{ passwordForm.value | json}} </p>
  <br>
  <div *ngIf="!controlPassword.valid && (controlPassword.dirty ||controlPassword.touched)">
    <div> NOT VALID </div>
    <br>
  </div>
  <button type="submit" [disabled]="!passwordForm.valid">Submit</button>
</form>
