.input-password {
  height: 21px;
  min-width: 200px;
  border-radius: 2px;
  background: white;
}

input[type="password"] {
  border-radius: 4px;
  border: 2px solid;
}

.pass-levels {
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.pass-levels > li {
  margin:10px 0;
}

.pass-levels > li:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.weak-level:before {
  background-color: var(--color-weak);
}

.medium-level:before {
  background-color: var(--color-medium);
}

.strong-level:before {
  background-color: var(--color-strong);
}

input[type="password"].is-invalid-field {
  border-color: var(--color-weak);
}

.invalid-char {
  color: var(--color-weak);
}

