html, body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
}

.container {
  width: 1264px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .container{
    width: 320px;
  }
}

@media only screen and (min-width: 600px) {
  .container{
    width: 600px;
  }
}

@media only screen and (min-width: 768px) {
  .container{
    width: 768px;
  }
}

@media only screen and (min-width: 992px) {
  .container{
    width: 992px;
  }
}



